
 .searchBox {
  float: right;
  z-index: 2;
  position: relative;
  /* margin-top: 75px; */
}
 .searchBox:after {
  background: url(../../images/search.png) no-repeat;
  content: "";
  top: 14px;
  right: 14px;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: scale(0.8);
}
 .searchBox input {
  width: 500px;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  padding: 10px 50px 10px 20px;
  outline: none;
  border: 0;
  font-size: 16px;
}
